<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{TAG} - Maitimiel's Archive</title>
    <link href="/style.css" rel="stylesheet" type="text/css" media="all">
    <link rel="icon" href="/layout/favicon.png" type="image/gif" sizes="any">
  </head>
  <body>
    <h1>{TAG} - Maitimiel's Archive</h1>
      <h2>Works tagged as {TAG}:</h2>
        <div="blurb"><h3><a href="/templates/fic-template">{FIC TITLE}</a></h3>
         <ul>
            <li>Fandom: <a href="/tags/the-silmarillion">The Silmarillion</a></li>
            <li>Rating: <a href="/tags/Explicit">Explicit</a></li>
            <li>Content Warnings: No Warnings</li>
            <li>Relationships: <a href="/tags/Tag">Tag</a></li>
            <li>Characters: <a href="/tags/Tag">Tag</a></li>
            <li>Other Tags: <a href="/tags/Tag">Tag</a>,  <a href="/tags/Tag">Tag</a></li>
          </ul>
        </div="blurb">
        <hr>
        <div="blurb"><h3><a href="/templates/fic-template">{FIC TITLE}</a></h3>
         <ul>
            <li>Fandom: <a href="/tags/the-silmarillion">The Silmarillion</a></li>
            <li>Rating: <a href="/tags/Explicit">Explicit</a></li>
            <li>Content Warnings: No Warnings</li>
            <li>Relationships: <a href="/tags/Tag">Tag</a></li>
            <li>Characters: <a href="/tags/Tag">Tag</a></li>
            <li>Other Tags: <a href="/tags/Tag">Tag</a>,  <a href="/tags/Tag">Tag</a></li>
          </ul>
        </div="blurb">
        <hr>
        <div="blurb"><h3><a href="/templates/fic-template">{FIC TITLE}</a></h3>
         <ul>
            <li>Fandom: <a href="/tags/the-silmarillion">The Silmarillion</a></li>
            <li>Rating: <a href="/tags/Explicit">Explicit</a></li>
            <li>Content Warnings: No Warnings</li>
            <li>Relationships: <a href="/tags/Tag">Tag</a></li>
            <li>Characters: <a href="/tags/Tag">Tag</a></li>
            <li>Other Tags: <a href="/tags/Tag">Tag</a>,  <a href="/tags/Tag">Tag</a></li>
          </ul>
        </div="blurb">
        <hr>
        <div="blurb"><h3><a href="/templates/fic-template">{FIC TITLE}</a></h3>
         <ul>
            <li>Fandom: <a href="/tags/the-silmarillion">The Silmarillion</a></li>
            <li>Rating: <a href="/tags/Explicit">Explicit</a></li>
            <li>Content Warnings: No Warnings</li>
            <li>Relationships: <a href="/tags/Tag">Tag</a></li>
            <li>Characters: <a href="/tags/Tag">Tag</a></li>
            <li>Other Tags: <a href="/tags/Tag">Tag</a>,  <a href="/tags/Tag">Tag</a></li>
          </ul>
        </div="blurb">
        <hr>
  </body>
</html>
